
{% extends 'travels/_base.html' %}

{% block content %}

{% include 'travels/_navbar.html' %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Hello, {{user.name}}</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% include 'travels/_messages.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h4>Your trip schedules</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Destination</th>
            <th>Travel start date</th>
            <th>Travel end date</th>
            <th>Plan</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
          </tr>
          <tr>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
          </tr>
          <tr>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
            <td>hi</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h4>Other users travel plans</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Destination</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Do you want to join?</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>hello</td>
            <td>hello</td>
            <td>hello</td>
            <td>hello</td>
            <td>hello</td>
          </tr>
          <tr>
            <td>hello</td>
            <td>hello</td>
            <td>hello</td>
            <td>hello</td>
            <td>hello</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <a href="{% url 'travels:add_travel' %}">Add Travel Plan</a>
    </div>
  </div>

</div>

{% endblock content %}
