{% extends 'travels/_base.html' %}

{% block content %}

{% include 'travels/_navbar.html' %}

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <h1>Add travel plan</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% include 'travels/_messages.html' %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="well">
        <form class="form-horizontal" action="{% url 'travels:create_travel' %}" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="#" class="col-sm-2 control-label">Destination</label>
            <div class="col-sm-10">
              <input type="text" name="destination" class="form-control" placeholder="Destination...">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label">Description</label>
            <div class="col-sm-10">
              <input type="text" name="description" class="form-control" placeholder="Description...">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Date from</label>
            <div class="col-sm-4">
              <input type="date" name="date_from" class="form-control" placeholder="Date from...">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Date to</label>
            <div class="col-sm-4">
              <input type="date" name="date_to" class="form-control" placeholder="Date to...">
            </div>
          </div>
          <hr>
          <input type="submit" value="Add" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
