{% extends 'travels/_base.html' %}

{% block content %}

{% include 'travels/_navbar.html' %}

<div class="container">

  <div class="row">
    <div class="col-md-8">
      <h2>Travel Destination Here</h2>
      <div class="row st-row">
        <div class="col-md-2">Planned by:</div>
        <div class="col-md-6"><b>{{trip.added_by.name}}</b></div>
      </div>
      <div class="row st-row">
        <div class="col-md-2">Description:</div>
        <div class="col-md-6"><b>{{trip.description}}</b></div>
      </div>
      <div class="row st-row">
        <div class="col-md-2">Date from:</div>
        <div class="col-md-6"><b>{{trip.date_from}}</b></div>
      </div>
      <div class="row st-row">
        <div class="col-md-2">Date to:</div>
        <div class="col-md-6"><b>{{trip.date_to}}</b></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <h2>Other users joining the trip</h2>
      <ul class="users">
        {% for user in trip.user_set.all %}
          <li class="user">{{user.name}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

{% endblock content %}
