
{% extends 'log_and_reg/_base.html' %}

{% block content %}

<div class="container">
  <br>
  <div class="row">
    <div class="col-md-12">
      <h1>The best Travel App !</h1>
    </div>
  </div>

  {% include 'log_and_reg/_messages.html' %}

  <div class="row">
    <div class="col-md-6">
      <div class="register-container">
        <h3>Register</h3>
        <div class="well">
          <form action="{% url 'log_and_reg:register' %}" method="POST" class="form">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="name" class="form-control" placeholder="Name...">
            </div>
            <div class="form-group">
              <input type="text" name="username" class="form-control" placeholder="Username...">
            </div>
            <div class="form-group">
              <input type="text" name="password" class="form-control" placeholder="Password...">
            </div>
            <div class="form-group">
              <input type="text" name="password_conf" class="form-control" placeholder="Password confirmation...">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="login-container">
        <h3>Login</h3>
        <div class="well">
          <form action="{% url 'log_and_reg:index' %}" method="POST" class="form">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="email" class="form-control" placeholder="Email...">
            </div>
            <div class="form-group">
              <input type="text" name="password" class="form-control" placeholder="Password...">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary">
          </form>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}
